
.swmultiimage-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
  width: 100%;
}
.swmultiimage-grid:last-child {
  margin-bottom: 0;
}
.swmultiimage-grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

.swmultiimage-card {
  display: grid;
  grid-template: "content";
  height: 100%;
}
.swmultiimage-card__image {
  width: 100%;
  height: auto;
}
.swmultiimage-card__image--img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  object-position: left;
}
.swmultiimage-card__info {
  padding: 10px;
}
.swmultiimage-card__info--mobile-aboveimg {
  order: -1;
}
/* .swmultiimage-card__info--mobile-belowimg {
} */

.swmultiimage-card-malign--right {
  align-self: flex-end;
  text-align: right;
}
.swmultiimage-card-malign--left {
  align-self: flex-start;
  text-align: left;
}
.swmultiimage-card-malign--center {
  align-self: center;
  text-align: center;
}

.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
}

@media screen and (min-width: 990px) {
  .swmultiimage-card--overlap > * {
    grid-area: content;
    overflow: hidden;
  }
  .swmultiimage-grid {
    margin-bottom: 2rem;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }
  .swmultiimage-grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
  }

  .swmultiimage-card__info--mobile-aboveimg {
    order: 0;
  }
  .swmultiimage-card__info--dalign-right {
    align-self: flex-end;
    text-align: right;
  }
  .swmultiimage-card__info--dalign-left {
    align-self: flex-start;
    text-align: left;
  }
  .swmultiimage-card__info--dalign-center {
    align-self: center;
    text-align: center;
  }  

  .swmultiimage-card--heightfit {
    height: fit-content;
  }
  .swmultiimage-card--heightauto {
    height: auto;
  }
  .swmultiimage-card--height100 {
    height: 100%;
  }
  .swmultiimage-card--height50 {
    height: 50%;
  }
  .swmultiimage-card--height25 {
    height: 25%;
  }
  .swmultiimage-card--widthfit {
    width: fit-content;
  }
  .swmultiimage-card--widthauto {
    width: auto;
  }
  .swmultiimage-card--width100 {
    width: 100%;
  }
  .swmultiimage-card--width50 {
    width: 50%;
  }
  .swmultiimage-card--width25 {
    width: 25%;
  }
  
  .swmultiimage-card--transparent0 {
    background-color: rgb(var(--color-background));
  }
  .swmultiimage-card--transparent10 {
    background-color: rgba(var(--color-background), 0.9);
  }
  .swmultiimage-card--transparent20 {
    background-color: rgba(var(--color-background), 0.8);
  }
  .swmultiimage-card--transparent30 {
    background-color: rgba(var(--color-background), 0.7);
  }
  .swmultiimage-card--transparent40 {
    background-color: rgba(var(--color-background), 0.6);
  }
  .swmultiimage-card--transparent50 {
    background-color: rgba(var(--color-background), 0.5);
  }
  .swmultiimage-card--transparent60 {
    background-color: rgba(var(--color-background), 0.4);
  }
  .swmultiimage-card--transparent70 {
    background-color: rgba(var(--color-background), 0.3);
  }
  .swmultiimage-card--transparent80 {
    background-color: rgba(var(--color-background), 0.2);
  }
  .swmultiimage-card--transparent90 {
    background-color: rgba(var(--color-background), 0.1);
  }
  .swmultiimage-card--transparent100 {
    background-color: initial;
  }

  .swmultiimage-item {
    max-width: unset;
  }
  .swmultiimage-item--dprop_1 {
    flex: 1 1 100px;
  }
  .swmultiimage-item--dprop_2 {
    flex: 1 1 200px;
  }
  .swmultiimage-item--dprop_3 {
    flex: 1 1 300px;
  }
  .swmultiimage-item--dprop_4 {
    flex: 1 1 400px;
  }
  .swmultiimage-item--dprop_5 {
    flex: 1 1 500px;
  }
  .swmultiimage-item--dprop_6 {
    flex: 1 1 600px;
  }
  .swmultiimage-item--dprop_7 {
    flex: 1 1 700px;
  }
  .swmultiimage-item--dprop_8 {
    flex: 1 1 800px;
  }
  .swmultiimage-item--dprop_9 {
    flex: 1 1 900px;
  }
  .swmultiimage-item--dprop_10 {
    flex: 1 1 1000px;
  }
  
  .swmultiimage-card-dpos--top-left .swmultiimage-card__info {
    place-self: start start;
  }
  .swmultiimage-card-dpos--top-center .swmultiimage-card__info {
    place-self: start center;
  }
  .swmultiimage-card-dpos--top-right .swmultiimage-card__info {
    place-self: start end;
  }
  .swmultiimage-card-dpos--middle-left .swmultiimage-card__info {
    place-self: center start;
  }
  .swmultiimage-card-dpos--middle-center .swmultiimage-card__info {
    place-self: center center;
  }
  .swmultiimage-card-dpos--middle-right .swmultiimage-card__info {
    place-self: center end;
  }
  .swmultiimage-card-dpos--bottom-left .swmultiimage-card__info {
    place-self: end start;
  }
  .swmultiimage-card-dpos--bottom-center .swmultiimage-card__info {
    place-self: end center;
  }
  .swmultiimage-card-dpos--bottom-right .swmultiimage-card__info {
    place-self: end end;
  }
}

/* @media screen and (max-width: 1025px) {
  .swmultiimage-grid__item {
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
} */

